body {
    font-family: 'Arial', sans-serif;
    padding-top: 56px;
    /* Altura del navbar para evitar superposición */
}

body::-webkit-scrollbar {
    display: none;
}

/* General Navbar Styles */
.navbar {
    background-color: #fff;
    /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand,
.nav-link {
    color: #000 !important;
    /* Negro */
}

.navbar-brand:hover,
.nav-link:hover {
    background-color: #007bff !important;
    /* Azul oscuro */
    color: #fff !important;
    /* Blanco */
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .btn-contact {
    background-color: #ff8800;
    /* Naranja */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.navbar .btn-contact:hover {
    background-color: #ff6600;
    /* Naranja oscuro */
    color: #fff;
}

/* Media Queries */
@media (max-width: 991.98px) {
    .navbar .navbar-collapse {
        background-color: #fff;
        /* Fondo blanco */
    }

    .navbar .btn-contact {
        display: none;
        /* Ocultar el botón de contacto en dispositivos móviles */
    }
}

/* Sticky Navbar on Scroll */
body {
    padding-top: 56px;
    /* Altura del navbar para evitar superposición */
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.202), rgba(0, 0, 0, 0.35)), url('../img/fondo.jpg') no-repeat center center/cover;
    color: #fff;
    display: flex;
    align-items: center;
}

.hero .display-4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #ffffff;
    /* Ajusta el color si es necesario */
}

.display-4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #000000;
}

.hero .lead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #e4af00;
    /* Ajusta el color si es necesario */
}

.hero .content {
    max-width: 50%;
}

.card-section {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.card-section h2 {
    margin-bottom: 40px;
}

.card {
    border: none;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.about-section {
    padding: 60px 0;
    background-color: #e9ecef;
}

.professor-section {
    background-color: #f8f9fa;
}

.professor-section h2 {
    color: #343a40;
}

.professor-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.professor-card:hover {
    transform: translateY(-10px);
}

.professor-card .card-body {
    background-color: #fff;
    border-top: 3px solid #007bff;
    border-radius: 0 0 10px 10px;
}

.professor-card .card-title {
    color: #007bff;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.professor-card .card-text {
    color: #6c757d;
    font-size: 1rem;
    margin-bottom: 10px;
}

.professor-card .card-description {
    color: #343a40;
    font-size: 0.9rem;
    text-align: justify;
    /* Justificar el texto */
    line-height: 1.5;
    /* Mejorar la legibilidad */
}

.professor-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer {
    background-color: #343a40;
    color: #fff;
}

.footer h5 {
    margin-bottom: 15px;
    font-size: 1.25rem;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
}

.footer-logo {
    width: 200px;
    height: auto;
}

@media (min-width: 768px) {
    .footer .row.align-items-center {
        display: flex;
        justify-content: space-between;
    }
}


#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    /* Oculto por defecto */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    border: none;
    outline: none;
    z-index: 1000;
    cursor: pointer;
    transition: background-color 0.3s;
}

#backToTopBtn:hover {
    background-color: #0056b3;
}